<style type="text/css" media="screen">
  .nav-link {
    padding: 0px 30px;
  }
  .nav-text {
    padding: 10px 20px;
  }
  .nav-text{
    color: white;
  }
  .nav-text:hover {
    background: #ffffff;
    border-radius: 32px;
    color: #070c49;
  }
  #result {
   position: fixed;
   top: 50px;
   max-width:870px;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index: 2001;
  }
</style>
