/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 20px;
}

/* Navbar Styling */
.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    align-items: center; /* Vertically centers the content */
}

.navbar .nav-link {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

.navbar .nav-text{
    color: white;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

.navbar .nav-text:hover {
    background: #ffffff;
    border-radius: 32px;
    color: #063263;
    font-weight: bold;
}

/* Headings Styling */
h1, h2 {
    color: #063263;
    margin-bottom: 20px;
}

/* Paragraph Styling */
p {
    font-size: 16px;
    line-height: 1.6;
}

/* Button Styling */
.btn-primary {
    background-color: #3b6fa8;
    border-color: #3b6fa8;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0b4687;
    border-color: #0b4687;
}

/* Card Styling */
.card {
    border: none;
    background-color: #e9f2fc;
    color: #343a40;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.card a {
    color: #3b6fa8;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Collapsible Section */
.collapse {
    margin-bottom: 20px;
}

/* Dropdown Button Styling */
.dropdown .btn-secondary {
    background-color: #063263;
    border-color: #063263;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.dropdown .btn-secondary:hover {
    background-color: white;
    border-color: white;
    color: #063263;
}

/* Dropdown Menu Styling */
.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #063263;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.dropdown-item {
    color: #063263;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #e9f5ff;
    color: #040836;
}

/* Submenu Styling */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    background-color: #ffffff;
    border: 1px solid #063263;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > .dropdown-item::after {
    content: ""; 
    float: right;
    margin-top: 8px;
}

.dropdown-submenu > .dropdown-item:hover::after {
    color: #0b4687;
}

/* Hover Effect for Submenu Items */
.dropdown-submenu .dropdown-item:hover {
    background-color: #e9f5ff;
    color: #0b4687;
}

/* Adjust Menu Item Padding and Spacing */
.dropdown-item {
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Image Plot Styling */
.plot-container {
    display: block;
    max-width: 90%;
    height: auto;
    margin: 20px auto;
    border: 2px solid #0b4687;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 10px;
}

/* Responsive Images */
@media (max-width: 768px) {
    .plot-container {
        max-width: 100%;
    }
}