<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Key4hep validation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark" style="background-color:#063263;">
      <div class="container fluid">
        <a class="nav-link h5" href="index.html">
          <div class="nav-text">
            <b>Home
            </b>
          </div>
        </a>
      </div>
    </nav>
    

    <h1> Simulation and reconstruction </h1>

    <p> This is a webpage for validation of Key4hep software. The validation is done
    automatically and runs in Gitlab CI. The results are stored in EOS and published
    to this webpage. <br>

    For selecting different detectors and geometries, click on one of the detectors below:
    the available versions will be displayed. Clicking on one of them, you will be redirected
    to a page showing the available subsystems. </p>

    <h2> Available Detectors: </h2>

    {% for detector, versions_dates in folders %}
    <p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_{{detector}}" aria-expanded="false" aria-controls="collapseExample_{{detector}}">
        {{detector}}
      </button>
    </p>
    
    <div class="collapse" id="collapseExample_{{detector}}">
      {% for version, date in versions_dates %}
      <div class="card card-body">
        <a href="{{detector}}/{{ version }}/index.html">{{ version }}</a>
        Last updated: {{ date }}
      </div>
      {% endfor %}
    </div>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
