<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Key4hep validation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/styles.css">
    <style>
      /* Custom CSS to handle submenu */
      .dropdown-submenu {
          position: relative;
      }

      .dropdown-submenu > .dropdown-menu {
          top: 0;
          left: 100%;
          margin-top: -1px;
      }

      /* Ensure submenu shows on hover */
      .dropdown-submenu:hover > .dropdown-menu {
          display: block;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark" style="background-color: #063263;">
      <div class="container fluid">
        <a class="nav-link h5" href="../../index.html">
          <div class="nav-text">
            <b>Home
            </b>
          </div>
        </a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="detectorsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Detectors
          </button>
          <ul class="dropdown-menu" aria-labelledby="detectorsDropdown">
            {% for detector, versions in detector_list %}
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#"> {{detector}} </a>
              <ul class="dropdown-menu">
                {% for v in versions %}
                <li><a class="dropdown-item" href="../../../{{detector}}/{{v}}/index.html"> {{v}} </a></li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <h1> {{version}} </h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for key, (value, link) in table.items() %}
        <tr>
          <td>{{ key }}</td>
          {% if link == None %}
          <td>{{ value }}</td>
          {% else %}
          <td><a href="{{ link }}">{{ value }}</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2> Available Subsystems: </h2>

    {% for subsystem, name in subsystems %}
      <div class="card card-body">
        <a href="{{ subsystem }}/index.html">{{ name }}</a>
      </div>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>



