<div class="plot-card">
  <div class="plot-card-header">
    <div class="plot-card-title">{{ plot.title }}</div>
  </div>
  <div class="plot-card-body">
    <img src="{{ plot.relative_path }}" alt="{{ plot.title }}" loading="lazy">
  </div>
</div>